AccessModifierOffset: '-4'
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AlwaysBreakTemplateDeclarations: 'Yes'
#AlignArrayOfStructures: Right
#AlignTrailingComments: True
ColumnLimit: '140'
IndentWidth: '4'
IndentWrappedFunctionNames: 'false'
TabWidth: '4'
UseTab: Always
PointerAlignment : Left
