BasedOnStyle: WebKit

AccessModifierOffset: '-4'

AlignOperands: AlignAfterOperator

AlignTrailingComments: Always

AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: All

AlwaysBreakTemplateDeclarations: Yes

AllowShortCaseLabelsOnASingleLine: Yes
#AlignConsecutiveShortCaseStatements: True

BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: All #NonAssignment
#BreakBinaryOperations: OnePerLine  # clang 20

ColumnLimit: '140'

UseTab: Always
TabWidth: '4'
IndentWidth: '4'
IndentWrappedFunctionNames: 'false'

PointerAlignment : Left
